/*-------------------------------------------

   ICON CREDITS:

   * play: Chanut @ flaticon
     flaticon.com/free-icon/play-button_151860
     flaticon.com/free-icon/play-button_151939
   * pause: Freepik @ flaticon
     flaticon.com/free-icon/pause-sign_3764
     flaticon.com/free-icon/pause_747384

--------------------------------------------*/

@font-face {
  font-family: 'glenplayer03icons';
  src: url('./icons/glenplayer03icons.eot?87445107');
  src: url('./icons/glenplayer03icons.eot?87445107#iefix') format('embedded-opentype'),
       url('./icons/glenplayer03icons.woff2?87445107') format('woff2'),
       url('./icons/glenplayer03icons.woff?87445107') format('woff'),
       url('./icons/glenplayer03icons.ttf?87445107') format('truetype'),
       url('./icons/glenplayer03icons.svg?87445107#glenplayer03icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'glenplayer03icons';
    src: url('./icons/glenplayer03icons.svg?87445107#glenplayer03icons') format('svg');
  }
}

[glenplayer03] [class^="g-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'glenplayer03icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-pause-fill:before { content: '\e800'; }
.g-pause-outline:before { content: '\e801'; }
.g-play-outline:before { content: '\e802'; }
.g-play-fill:before { content: '\e803'; }
